* {
    box-sizing: border-box;
}

body {
    width: 18rem;
    font-size: 14px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.25rem;
}

/* replacer key */
.replacer-key-info {
    font-size: 10px;
    position: absolute;
    top: 6px;
    right: 6px;
}

#replacer-key {
    background: none;
    font-size: 10px;
    border: 1px solid #3498DB;
    border-radius: 3px;
    color: #3498DB;;
}

#replacer-key:hover {
    cursor: pointer;
    color: #2E86C1;
    border-color: #2E86C1;
}

/* form */
.field-group label {
    display: block;
    font-size: 12px;
}

input[name="full-text"] {
    width: 100%;
}

.controls-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

button[type="submit"] {
    border: none;
    background: #2ECC71;
    color: white;
    padding: 6px 12px;
    border-radius: 3px;
}

button[type="submit"]:hover {
    cursor: pointer;
    background: #28B463;
}

/* settings */
#open-settings {
    border: none;
    background: none;
    font-size: 14px;
    color: #3498DB;
}

#open-settings:hover {
    cursor: pointer;
    color: #2E86C1;
}

/* table */
#aliases-table {
    border-spacing: 0;
    width: 100%;
}

#aliases-table thead tr th {
    text-align: left;
}

#aliases-table th,
#aliases-table td {
    padding: 4px 6px;
}

#aliases-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.delete-alias:hover {
    cursor: pointer;
    color: #CB4335;
}

