* {
    box-sizing: border-box;
}

body {
    width: 18rem;
    font-size: 14px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.25rem;
}

hr {
    border: 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
}

/* replacer key */
.replacer-key-info {
    font-size: 10px;
    position: absolute;
    top: 6px;
    right: 6px;
}

#replacer-key {
    background: none;
    font-size: 10px;
    border: 1px solid #3498DB;
    border-radius: 3px;
    color: #3498DB;;
    padding: 1px 2px;
    font-family: sans-serif;
    min-width: 1rem;
    display: inline-flex;
    justify-content: center;
}

#replacer-key:hover {
    cursor: pointer;
    color: #2E86C1;
    border-color: #2E86C1;
}

/* form */
.field-group label {
    display: block;
    font-size: 12px;
}

input[name="full-text"] {
    width: 100%;
}

.controls-container {
    margin-top: 0.5rem;
    display: flex;
}

.controls-container button {
    margin-left: 3px;
    margin-right: 3px;
}

.field-message {
    display: block;
    color: #CB4335;
}

button[type="submit"] {
    border: none;
    background: #2ECC71;
    color: white;
    padding: 6px 12px;
    border-radius: 3px;
}

button[type="submit"]:hover {
    cursor: pointer;
    background: #28B463;
}

button.cancel {
    background: white;
    padding: 6px 12px;
    border: 1px solid black;
    border-radius: 3px;
}

button.cancel:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

/* text control */
.text-control {
    border: none;
    background: none;
    font-size: 14px;
    color: #3498DB;
    padding: 0;
}

.text-control:hover {
    cursor: pointer;
    color: #2E86C1;
}

/* new alias */
#new-alias-form .controls-container {
    justify-content: space-between;
}

/* aliases header */
#aliases-header {
    display: flex;
    justify-content: space-between;
}

#aliases-header h2 {
    display: inline-block;
}

#aliases-header select {
    max-width: 10rem;
    min-width: 7rem;
    display: block;
}

/* new alias group */
#new-alias-group-form {
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 0.5rem;
}

/* table */
#aliases-table {
    border-spacing: 0;
    width: 100%;
}

#aliases-table thead tr th {
    text-align: left;
}

#aliases-table th,
#aliases-table td {
    padding: 4px 6px;
}

#aliases-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.delete-alias:hover {
    cursor: pointer;
    color: #CB4335;
}

