body {
	color: #4c4b4b;
	min-width: 27em;
	font-size: 1.2em;
	margin: 0.3em;
}

input {
	font-size: 1.1em;
	margin: 0.2em;
}
	#alias-text {
		width: 85%;
	}
	#full-text {
		width: 100%;
	}

a {
	text-decoration: none;
	color: #4c4b4b;
}

h2 {
	font-size: 1.5em;
}

button {
	background: none;
	border: none;
}
	button:focus, input:focus {
		outline: none;
	}

.add-alias {
	font-size: 4.5em;
	margin-top: -0.2em;
	padding-left: none;
}
	.add-alias:hover {
		cursor: pointer;
		color: #41ae69;
	}

.col-xs-8 {
	padding-right: 0;
}

ul {
	padding-left: 1.4em;
}
	li {
		margin: 0.2em;
	}
	.alias {
		background-color: #41ae69;
		color: white;
		padding: 2px 5px;
		border-radius: 4px;
	}
	.remove-alias {
		font-size: 1.4em;
	}
		.remove-alias:hover {
			color: #d45555;
		}

.alias-key {
	background-color: #4c4b4b;
	color: white;
	padding: 4px 10px;
	border-radius: 4px;
}
	.alias-key:hover {
		cursor: pointer;
		background-color: #5697bf;
	}

.new-key-listener {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: white;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.85);
}
	.new-key-listener-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #4c4b4b;
		color: white;
		padding: 10px 20px 30px 20px;
		border-radius: 5px;
	}
	.help-text {
		position: absolute;
		top: 64%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: white;
		font-size: 0.8em;
	}